h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 5px 0 5px 0;
  margin-top: 5px;
  margin-bottom: 15px;
}

table {
  padding: 10px 0 30px 0;
  margin-left: 90px;
}

p {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

body {
  font-family: Arial Verdana Sans-serif;
  background-image: url("http://timali4man.com/Images/Donuts3.jpeg");
  background-repeat: no-repeat;
  min-width: 807px;
  background-size: 73em;
  max-width: 1140px;
}

figure {
  position: relative;
  float: right;
  margin-top: 50px;
  margin-right: 90px;
  margin-left: 90px;
  width: 150px;
  height: 150px;
}

.d1, .c1, .s1, .w1, .b1, .p1, #donutStores, #addButton {
  display: block;
  color: black;
  font-size: 16px;
  max-width: 350px;
  max-height: 250px;
  margin: 7px 0 7px 0;
}

#add {
  display: inline-block;
  color: black;
  border: solid;
  background: white;
  font-size: 18px;
  margin: 7px 0 7px 0;
}

.storeLoc, .donutsPerDay {
  background-color: #95b9c7;
  text-align: center;
  font-size: 16px;
}

.donutsPerHour, .hours {
  background-color: #bcc6cc;
  text-align: center;
  font-size: 16px;
}

.head {
  background-color: #6d7b8d;
  color: white;
  font-size: 20px;
}

.pike {
  display: inline-block;
  margin-top: 5px;
}

#donutSlide {
  float: right;
  position: static;
  margin-top: 50px;
  margin-right: 5px;
}

#explode {
  color: black;
  font-size: 20px;
  float: right;
  margin-right: -160px;
}

#addStore {
  display: block;
  color: black;
  font-size: 18px;
  max-width: 350px;
  margin: 7px 0 7px 0;
}


